@import "./variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";

/**
 * per-state styles
 */

body.state-home {
  header {
    min-height: 350px;
  }
}




body.state-wp {
  header {
    min-height: 200px;
  }
}


body.state-product {
  header {
    .nav a.dropdown-toggle {
      color: @navbar-default-link-active-color;
    }
  }
}