@import "./variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";

/**
 * per-state styles
 */

body.state-home {
  header {
    min-height: 350px;
  }
}

body.state-404 {
  main {
    h1 {
      font-family: GothamLight;
      font-size: 60px;
      padding: 50px 0 1em;
    }
    padding-bottom: 50px;
  }
}


body.state-wp {
  header {
    min-height: 200px;
  }
}


body.state-product {
  header {
    .nav a.dropdown-toggle {
      color: @navbar-default-link-active-color;
    }
  }
}