@import "../../bower_components/bootstrap/less/variables.less";

@cask-orange:           #ff6600;

@brand-primary:         @cask-orange; // #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@body-bg:               #fff;

@text-color:            @gray-dark;
@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

@font-family-sans-serif: GothamLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family:   GothamMedium;
@headings-font-weight:   normal;


@navbar-height:                    50px;

@navbar-default-color:             white;
@navbar-default-bg:                transparent;
@navbar-default-border:            transparent;

// Navbar links
@navbar-default-link-color:                white;
@navbar-default-link-hover-color:          white;
@navbar-default-link-hover-bg:             @cask-orange;
@navbar-default-link-active-color:         white;
@navbar-default-link-active-bg:            @cask-orange;
@navbar-default-link-disabled-color:       white;
@navbar-default-link-disabled-bg:          transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @cask-orange;
@navbar-default-toggle-icon-bar-bg:        white;
@navbar-default-toggle-border-color:       white;
