<div class="text-primary" my-carousel>

  <section class="slide1"
    ng-show="slideIsVisible(1)">

    <h1>
      <small>continuuity is now</small>
      <em>CASK</em>
    </h1>



  </section>
  <section class="slide2" 
    ng-show="slideIsVisible(2)">

    <h1>
      <small>some other thing</small>
      <span>is interesting</span>
    </h1>



  </section>
  <section class="slide3"
    ng-show="slideIsVisible(3)">

    <h1>
      <span>did you know?</span>
      <small>it is relevant</small>
    </h1>

  </section>


  <div class="controls">

    <a ng-click="prevSlide()" class="prev">
      <span class="fa fa-angle-left"></span>
      <span class="sr-only">&larr;</span>
    </a>

    <a ng-click="nextSlide()" class="next">
      <span class="sr-only ">&rarr;</span>
      <span class="fa fa-angle-right"></span>
    </a>
  </div>

</div>