@import "../../../css/variables.less";

[my-navbar] {

  position:relative;

  font-family: GothamMedium;

  ul.nav > li > a {
    text-transform: uppercase;
    cursor: pointer;
  }

  ul.navbar-secondary {
    @media (min-width: @screen-sm-min) {
      position: absolute;
      right: 28px;
      top: -18px;

      > li > a {
        font-family: GothamLight;
        font-size: 77%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  a.navbar-brand {
    background: url(../img/cask_logo_white.png) no-repeat 0 0;
    position: absolute;
    top: -9px;
    left: 33px;
    width: 80px;
    height: 68px;

    @media (max-width: @screen-sm-max) {
      top: 0;
      background-position: 0 6px;
      left: 8px;
      height: 50px;
    }

    @media (max-width: @screen-xs-max) {
      left: -8px;
    }
  }

  li.dropdown {

    ul.dropdown-menu {
      padding: 0;
      background-color: @cask-orange;
      border: none;
      border-radius: 0;
      a {
        color: white;
        &:hover {
          background: white !important;
          color: black !important;
        }
      }
      > li {
        a {
          line-height: @navbar-height;
        }
        &.active a {
          pointer-events: none;
          background: darken(@cask-orange, 20%);
        }
      }

    }

    &.open {
      a.dropdown-toggle {
        background-color: @cask-orange;
        color: white;
      }
    }

  }

}